<!--의존성 주입으로 객체 추가-->
@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager


<!--네비게이션 메뉴 탭 선택한 것에 밑줄 뜨도록-->
@functions {
    bool IsActive(string controller, string action)
    {
        var routeData = ViewContext.RouteData;
        var currController = routeData.Values["controller"]?.ToString();
        var currAction = routeData.Values["action"]?.ToString();

        //현재 클릭한 메뉴와 뷰컨텍스트로 넘어온 메뉴값이 같을 경우, 
        return string.Equals(controller, currController, StringComparison.OrdinalIgnoreCase) && string.Equals(action, currAction, StringComparison.OrdinalIgnoreCase);


    }

    string SetActive(string controller, string action)
    {
        return IsActive(controller, action) ? "active" : "";
    }
}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyPortfolioWebApp</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    @* <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">*@

    <!--css -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-icon/bootstrap-icons.css">
    <link rel="stylesheet" href="~/vendor/aos/aos.css">
    <link rel="stylesheet" href="~/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/vendor/glightbox/css/glightbox.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/MyPortfolioWebApp.styles.css" asp-append-version="true" /> *@
    <!--토스트 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <!--trumbowyg-->
    <link rel="stylesheet" href="~/trumbowyg/ui/trumbowyg.min.css" />

</head>
<body class ="index-page">
    <header id="header" class="header d-flex align-items-center light-background sticky-top">
        <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

            <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center me-auto me-xl-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1 class="sitename">Kelly</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index"
                           class="@SetActive("Home" , "Index")">
                            홈
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="About"
                           class="@SetActive("Home" , "About")">
                            소개
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Resume" asp-action="Index"
                           class="@SetActive("Resume" , "Index")">
                            이력
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Resume" asp-action="Service"
                           class="@SetActive("Resume" , "Service")">
                            서비스
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Resume" asp-action="Portfolio"
                           class="@SetActive("Resume" , "Portfolio")">
                            경력
                        </a>
                    </li>

                    <li class="dropdown">
                        <a asp-controller="News" asp-action="Index" class="@SetActive("News" , "Index")">
                            <span>게시판</span> <i class="bi bi-chevron-down toggle-dropdown"></i>
                        </a>
                        <ul>
                            <li>
                                <a asp-controller="News" asp-action="Index" class="@SetActive("News" , "Index")">
                                   공지
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Board" asp-action="Index" class="@SetActive("News" , "Index")">
                                    자유게시판
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a asp-controller="Home" asp-action="Contact"
                           class="@SetActive("Home" , "Contact")">
                            문의
                        </a>
                    </li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <div class="header-social-links">
               
                    <a asp-controller="Account" asp-action="Register" class="@SetActive("Account" , "Register")" title="회원가입" >
                        <i class="bi bi-person-fill-add"></i>
                    </a>
             
                

               @if (SignInManager.IsSignedIn(User))  //로그인 완료일 때
                {
                    <form  asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                        <button type="submit" class="link-kelly" title="@User.Identity.Name"><i class="bi bi-unlock2-fill"></i></button>
                    </form>
                }
                else
                {
                    //로그인 상태 아닐 때

                    <a asp-controller="Account" asp-action="Login" class="@SetActive("Account" , "Login")" title="로그인">
                        <i class="bi bi-lock-fill"></i>
                    </a>
                }
             
                
               
            </div>

        </div>
    </header>
    <!--배경이미지 여백때문에 div container 삭제-->
    <main role="main" class="main">
            @RenderBody()
    </main>
 
    <footer id="footer" class="footer light-background">

        <div class="container">
            <div class="copyright text-center ">
                <p>© <span>Copyright</span> <strong class="px-1 sitename">Kelly</strong> <span>All Rights Reserved<br></span></p>
            </div>
            <div class="social-links d-flex justify-content-center">
                <a href="https://x.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoia28ifQ%3D%3D%22%7D" title="트위터"><i class="bi bi-twitter-x"></i></a>
                <a href="https://www.facebook.com/?locale=ko_KR" title="페이스북"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/" title="인스타그램"><i class="bi bi-instagram"></i></a>
                <a href="https://kr.linkedin.com/" title="링크드인"><i class="bi bi-linkedin"></i></a>
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a>
            </div>
        </div>

    </footer>
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!--vendor js-->
    <script src="~/vendor/php-email-form/validate.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>

   
    <!-- js-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--trumbowyg-->
    <script src="~/trumbowyg/trumbowyg.js"></script>
    <script src="~/dompurify/purify.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
