@model IEnumerable<MyPortfolioWebApp.Models.News>

@{
    ViewData["Title"] = "News Page";
}
@{
    var startPage = ViewBag.StartPage;
    var endPage = ViewBag.EndPage;
    var page = ViewBag.Page;
    var totalPage = ViewBag.TotalPage;

}
<!-- Contact Section -->
<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>News</h2>
        <p>
            <a asp-action="Create" asp-controller="News"
            class="btn  btn-success btn-kelly " >Create New</a>
        </p>
        <br />
            <partial name="_Notification">
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">


        <table class="board-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Writer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    @* <th> *@
                    @*     @Html.DisplayNameFor(model => model.Description) *@
                    @* </th> *@
                    <th>
                        @Html.DisplayNameFor(model => model.PostdDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReadCount)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td class="content-center">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="content-center">
                            @Html.DisplayFor(modelItem => item.Writer)
                        </td>
                        <td class="content-center">
                            <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                        </td>

                        <td class="content-center">
                            @Html.DisplayFor(modelItem => item.PostdDate)
                        </td>
                        <td class="content-center">
                            @Html.DisplayFor(modelItem => item.ReadCount)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <div class="out">
            <div class="in">
                <div>
                    @for(var pcount = startPage; pcount <=endPage; pcount++)
                    {
                        if (pcount == page)
                        {
                            <a href="?page=@pcount" class="btn active">@pcount</a>
                        }
                        else
                        {
                            <a href="?page=@pcount" class="btn ">@pcount</a>
                        }
                     }
                </div>
            </div>
        </div>
    </div>
</section><!-- /Contact Section -->